<h1>Reactive Table</h1>
<ng-container *ngIf="update$ | async"></ng-container>
<table mat-table [dataSource]="formArray.controls" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let person">
      <ng-container *ngIf="person.get('isEdit').value === true; else default">
        <mat-form-field
          ><input type="text" matInput [formControl]="person.get('name')"
        /></mat-form-field>
      </ng-container>
      <ng-template #default>{{ person.get("name").value }}</ng-template>
    </td>
  </ng-container>

  <!-- Birthdate Column -->
  <ng-container matColumnDef="birthdate">
    <th mat-header-cell *matHeaderCellDef>Birthdate</th>
    <td mat-cell *matCellDef="let person">
      <ng-container *ngIf="person.get('isEdit').value === true; else default">
        <mat-form-field
          ><input type="date" matInput [formControl]="person.get('birthdate')"
        /></mat-form-field>
      </ng-container>
      <ng-template #default>{{ person.get("birthdate").value }}</ng-template>
    </td>
  </ng-container>

  <!-- Buttons Column -->
  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let person">
      <ng-container *ngIf="person.get('isEdit').value === true">
        <button mat-raised-button color="" (click)="cancel(person)">
          Cancel
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="person.invalid"
          (click)="save(person)"
        >
          Save
        </button>
      </ng-container>
    </td>
  </ng-container>

  <!-- Buttons Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let person">
      <ng-container *ngIf="person.get('isEdit').value === false">
        <button mat-raised-button color="danger" (click)="delete(person)">
          Delete
        </button>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<button mat-raised-button (click)="addRow()">Add</button>
